:root {
  --primary: #FFCE00;
  --secondary: #FE4880;
  --dark: #212121;
  --light: #f3f3f3;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin: 50px auto 0;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.card {
  position: fixed;
  margin: 100px auto 0;
  width: 17.28rem; /* (20%) works with dynamic height and width*/
  height: 30rem;
  left: 10%;
  perspective: 1000px;
}

#helix {
  left: 10%;
}
#fool{
  left: 30%;
}
#atoms{
  left: 50%;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d; /*3D space*/
  cursor: pointer;
  position: relative;
  z-index: -100;
}

.card__inner.is-flipped{
  transform: rotateY(180deg);
  z-index: 100;
}

.card__inner.is-hovered{
  transform: translate(0rem, -5rem);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  border-style: solid;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card__face--front {
  background-color: #f3f3f3;
  /* background-image: linear-gradient(to bottom right, var(--primary), var(--secondary)); */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Not using H2*/
.card__face--front h2{
  color: var(--dark);
  font-size: 10rem;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

/*where image is going*/
.card__content {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* .card__header {
  position: relative;
  padding: 30px 30px 40px;
} */

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0 0 50% 0;
}

.card__body {
  padding: 30px;
}

/* Responsive */
@media screen and (min-width: 481px) {
  .card__inner{
    width: 20%;
    height: 40%;
  }
}

@media screen and (min-width: 600px) {
  .card__inner{
    width: 40%;
  }
}

@media screen and (min-width: 992px) {
  .card__inner{
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .card__inner{
    width: 100%;
  }
}